body{
    background-color: red;
}
.main{
    border: 2px solid black;
    padding: 0px;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    text-align: center;
}

.bodyChild{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-r{
    width: 250px;

}
.body{
    background-color: rgba(0, 225, 255, 0.599);
    margin: 20px;
    border-radius: 20px;
    padding: 10px;

}